# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getEnv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development
PAYPAL_KEY=AawvPTlvCFkpEpR0OeqXS5k-6qsgHXQHg0zViBMqM4gZpmEh0J_lw9ti5hF0Ykn6nCFZKtX9bp9fC5Tf
PAYPAL_ENV=sandbox

# Front-End Variables
BASENAME=/

BACKEND_URL=https://3001-amaranth-tarsier-fduz1dg5.ws-eu16.gitpod.io