
//Styles for carousel title
.hometitle {
    font-size: 60px;
    margin-bottom: 70px;
    opacity: 0.90;
}


//Styles for carousel paragraph
.homepara {
    margin: 0px;
    font-size: 20px;
    font-weight: 600; 
    
}


//Styles for carousel text 
.slideonecolor {
    color: white;
    text-shadow: 5px 4px 7px rgba(81,67,21,0.8);
   }

//Style for carousel text scrim
.scrim {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
}

//Styles for nav bar logo
.navimage {
  width: 100px; /* width of container */
  height: 100px; /* height of container */
  object-fit: cover;
  margin: 10px;
}

//Styles for carousel images
.imgsizing {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

//Styles for category card images
.imgsizingcategory {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    object-position: 10% 40%;
    border-bottom: 5px solid #EEBA0B;

}

.categoryline {
    border: 5px solid #EEBA0B;
}

//Styles for category title
.categorytitle {
    font-size: 30px;
    border-bottom: 5px solid #EEBA0B;
}

//Styles for category card animation
.card:hover {
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    transform: translatey(-4px);

}

//Styles for ccategory card
.card{
    margin-top: 10px;
    border: none;
}


//Styles for ccategory card text
.card-text {
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
}

//Styles for span emojis
.emoji {
    font-size: 20px;
    
}

//Styles for the background on events section
.bckgrndimg {
    background-image: URL("https://unsplash.com/photos/J_IaguGH6rI/download?force=true&w=2400");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: auto;

}

//Styles for event section title
.eventtitle {
    color: white;
    padding: 0 30px 0 30px;
    border-bottom: 5px solid #EEBA0B;
   
}

//Styles for event section h3 title
.eventtitle3 {
    color: white;
    padding: 0 30px 0 30px;
    font-size: 25px;
    

}

//Styles for event section paragraph
.eventpara {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    padding: 0 30px 20px 30px;

}

//Styles for event section button 
#app > div > div:nth-child(2) > div.mt-5.bckgrndimg.eventcontainer > button, #events > form > button{
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
}

//Air just because.. 
.air {
    height: 30px;

}


//Products view
.buynow {
    font-weight: bold;

}

.viewstitle {
    font-size: 35px;
    border-bottom: 5px solid #EEBA0B;
}



.viewspara {
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

.changesection {
    color: black;
    font-size: 30px;

}
