footer {
  font-family: 'Playfair Display', serif;
}

.myFooter {
      background-color: #171712;
}

.glogo {
      width: -10%;
      height: -20%;
      margin: 2px;
      font-size: 1px;
    }

.footertitle {
      color: #EEBA0B;
      font-size: 18px;
}

.footertext {
      color: #ffffff;
      font-size: 14px;
}

.footershedule {
      color: #ffffff;
      font-style: italic;
      font-size: 14px;
}

.footerawesome {
      font-size: 25px;
}

.copyr {
      color: #EEBA0B;
      font-size: 14px;
} 

.madeby {
      color: #ffffff;
      font-size: 70%;
}