.text-warning {
  font-family: 'Roboto', sans-serif !important;

}
.fa-shopping-basket {
  color: #EEBA0B;
  font-size: 24px;
}

.navimage {
  width: 10%;
  height: auto;
  margin: 2px;
  font-size: 1px;
}




