.loginbckgrndimg {
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), URL("https://unsplash.com/photos/vdx5hPQhXFk/download?force=true&w=2400");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.rowdesign1 {
    
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10px;
}

.rowdesign2 {
    
    background-color: transparent;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10px;
}

#left-tabs-example-tab-second  {
    color: #EEBA0B;
    background-color: black;
    padding-left:10px;
    font-weight: 500px;
   
    
}

#left-tabs-example-tab-first {
    color: #EEBA0B;
    background-color: black;
    font-weight: 500px;
    
    
}

a#left-tabs-example-tab-second.nav-link.active  {
    color: black;
    background-color:#EEBA0B;
    text-shadow: 5px 4px 7px rgba(81,67,21,0.8);
       
  
}

a#left-tabs-example-tab-first.nav-link.active {
    color: black;
    background-color:#EEBA0B;
    text-shadow: 5px 4px 7px rgba(81,67,21,0.8);
       
  
}

#left-tabs-example-tabpane-first {
    padding: 20px 40px;

}

#left-tabs-example-tabpane-second {
    padding: 20px 40px;

}

.scrim {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
}

.formcolor {
    color: white;
}